

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    /*Font-size => 10 */
    font-size: 62.5%;
    scroll-behavior: smooth;
  }
  
  body {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: var(--text);
    line-height: 1;
  }


